#form {
    width: 400px;
    background-color: #F8F4F4;
    margin: 20px 0 20px 0;
    position: absolute;
    right: 50px;
}

#formInter {
    margin: 15px;
}

p {
    font-size: 1.250rem;
    color: #7b8a4b; 
    text-transform: uppercase;
}

.display {
    margin-top: 8px;
    display: block;
}

.font{
    font-size: 0.825rem ;
    color: gray;
}